.btn{
    font-size: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    margin: 0 0 10% 1%;
    width: 220px;
    text-shadow: 1px 1px 1px gray;
}

.btn-eng{
    background-color: #33030E;
    color: white;
    box-shadow: 0 5px 0 #1f0208;

}

.btn-eng:hover{
    background: #5e4aaa;
    color: #fff;
    box-shadow: 0 5px 0 #473981;
}

.btn-pro{
    background-color: #332203;
    color: white;
    box-shadow: 0 5px 0 #201602;

}

.btn-pro:hover{
    background: #3c8d88;
    color: #fff;
    box-shadow: 0 5px 0 #2d6864;
}

.btn-tec{
    background-color: #033320;
    color: white;
    box-shadow: 0 5px 0 #021d12
}

.btn-tec:hover{
    background: #4cb651;
    color: #fff;
    box-shadow: 0 5px 0 #419944;
}

.btn:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
