@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@100&display=swap');

:root{
    --yellow0: #85843157;
    --yellow1: #858331;
    --yellow2: #b4b240;
}

@keyframes border_change{
    0% {border-color: var(--yellow0);}
    25% {border-color: var(--yellow1);}
    50% {border-color: var(--yellow2);}
    75% {border-color: var(--yellow1);}
    100% {border-color: var(--yellow0);}
}

body{
    margin:-20px 0 0 0;
    padding-top: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    color: white;
    border-radius: 50px;
    height:100vh;
    width:100wh;
    background-color: rgb(209, 209, 209);
    background-size: cover;
}

#home{
    margin-top: 20px;
    margin-bottom: -20px;
}

#certSize{
    border: 1px solid black;
    height: 520px;
}

#sectionAux{
    margin: 18em 0 0 0;
    display: flex;
    justify-content:center ;
}

#menu{
    margin: 0px;
    padding: 15px 15px 0 15px;
    background-image: linear-gradient(to right,black,rgb(48, 48, 48));
    height: 101vh;
    max-width: 250px;
    min-width: 150px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.384);
}

.title{
    color: rgb(211, 211, 211);
    text-shadow: 1px 1px 0 var(--yellow1);
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-bottom: 2em;
}

.subTitle{
    border-radius: 10px;
    color: rgb(253, 255, 122);
    text-shadow: 1px 1px rgb(155, 155, 155);
    background-color: rgba(0, 0, 0, 0.301);
    box-shadow: 3px 5px 8px 0px black;
}

.boxCourse{
    margin: 2em 1em 1em 1em;
    border-radius:5px;
    height: 70vh;
    width: 20vw;
    background-color: var(--yellow0);
}

#mainCertificates{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

h1,h2{
    margin-left: 1%;
    font-family: 'Mochiy Pop P One', sans-serif;
}

.rede{
    width: 75px;
    height: 75px;
    float: left;
    margin-top: 5em;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}

.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50,0.45);
}

.rede#linkedin{
    background-color: #0e76a8;
}

.rede#git{
    background-color: black;
 
}

.icone{
    margin: 0px auto;
    padding: 17px;
    width: 40px;
}

li > a{
    text-decoration: none;
    background-image: linear-gradient(to right,var(--yellow2),var(--yellow1));
    border-radius: 5px;
    padding: 5px;
    color:white;
    font-size: 20px;
    font-family: 'Mochiy Pop P One', sans-serif;
    display: flex;
}

li > a:hover{
    background-image: linear-gradient(to top,var(--yellow1),var(--yellow2));
}

a,li{
    text-decoration: none;
    list-style-type: none;
    margin-top:10px;
}
ul{
    padding:0;
}

#imgPerfil{
    height: 150px;
    border-radius: 50%;
    margin: -1% 0 0 2%;
}

#imgPerfil:hover{
    cursor: pointer;    
}

.divPerfil{
    text-align:justify;
    margin: 2% 0 0 2%;
    padding: 3px 1% 3px 1%;
    max-width: 60vw;
    border: 3px solid var(--yellow2);
    border-radius: 5px;
    background-color: black;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.384);
    animation-name: border_change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#divOrder{
    display: flex;
    padding-bottom: 3%;
    padding-left: 2%;
}

#icon_perfil{
    padding: 10% 0 0 20%;
}

.lista_index li{
    list-style:circle;
    list-style-position: inside;
}

.lista_index a{
    all: unset;
    font-size: large;
    font-weight: 700;
    color: rgb(197, 102, 197);
    padding: 3px;
}

.lista_index a:hover{
    cursor: pointer;
    background-color: rgb(109, 10, 109);
    color: yellow;
    border-radius: 5px;
}