body{
    margin:-20px 0 0 0;
    padding-top: 0;
    font-family:Arial, Helvetica, sans-serif;
}

#home{
    margin-top: 20px;
    margin-bottom: -20px;
}

a{
    text-decoration: none;
}

#certSize{
    border: 1px solid black;
    height: 520px;
}

#footerAux{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5%;
    background-image: linear-gradient(to bottom, #6CBDF0,#4F8BB0);
}

#blue{
    margin: 0px;
    padding: 15px 0 5px 15px;
    background-image: linear-gradient(to top,#325970,#4F8BB0);
}

.white{
    color: white;
    text-shadow: 1px 1px 0 black;
}

h2{
    margin-left: 1%;
}

.rede{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 20px;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}

.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50,0.45);
}

.rede#linkedin{
    background-color: #0e76a8;
}

.rede#git{
    background-color: black;
}

.icone{
    margin: 0px auto;
    padding: 35px;
    width: 80px;
}

li{
    list-style-type: none;    
}

ul{
    width: 150px;
    padding: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between 
}

#imgPerfil{
    height: 200px;
    border-radius: 50%;
    padding-left: 2%;
}

#divPerfil{
    width: 65%;
    text-align:justify;
}

#divOrder{
    display: flex;
    padding-bottom: 3%;
    padding-left: 2%;
}