@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@100&display=swap');

:root{
    --yellow0: #858431;
    --yellow1: #858331;
    --yellow2: #b4b240;
    --yellow3: #A3992F;
    --purple0: #6d0a6d;
    --purple1: #c768c7;
    --orange:  #E07E41;
    --blue:    #315DE0;
    --green:   #5ED198;
}

@keyframes border_change{
    0% {border-color: var(--yellow0);}
    25% {border-color: var(--yellow1);}
    50% {border-color: var(--yellow2);}
    75% {border-color: var(--yellow1);}
    100% {border-color: var(--yellow0);}
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    display: flex;
    max-width: 900px;
    height:100px;
    padding:20px;
    justify-content: space-around;
    flex: 1;
}

.container .menu{
    align-items: center;
}

.container .title{
    color: var(--yellow3);
    text-shadow: 1px 1px 0 var(--yellow1);
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 50px;
    flex: 1;
}

.menu ul{
    color: white;
    list-style-type: none;
    display: flex;
    padding-top: 20px;
   
}

.menu li{
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: var(--purple0);
    border: 1px solid var(--yellow0);  
    animation-name: border_change;
    animation-duration: 1s;
    animation-iteration-count: infinite;  
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divPerfil{
    text-align:justify;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-image: linear-gradient(to right, var(--yellow3),var(--purple0));
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.384);
}

#imgPerfil{
    height: 150px;
    border-radius: 20%;
}

#imgPerfil:hover{
    cursor: pointer;    
}

.column{
    flex-direction: column;
}

#certSize{
    border: 1px solid black;
    height: 520px;
}

#sectionAux{
    margin: 18em 0 0 0;
    display: flex;
    justify-content:center ;
}

.subTitle{
    border-radius: 10px;
    color: rgb(253, 255, 122);
    text-shadow: 1px 1px rgb(155, 155, 155);
    background-color: rgba(0, 0, 0, 0.301);
    box-shadow: 3px 5px 8px 0px black;
}

.boxCourse{
    margin: 2em 1em 1em 1em;
    border-radius:5px;
    height: 70vh;
    width: 20vw;
    background-color: var(--yellow0);
}

#mainCertificates{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.rede{
    width: 75px;
    height: 75px;
    float: left;
    margin-top: 5em;
    transition: all 0.4s ease-out;
    border-radius: 50%;
}

.rede:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50,0.45);
}

.rede#linkedin{
    background-color: #0e76a8;
}

.rede#git{
    background-color: black;
 
}

.icone{
    margin: 0px auto;
    padding: 17px;
    width: 40px;
}

#divOrder{
    display: flex;
    padding-bottom: 3%;
    padding-left: 2%;
}

#icon_perfil{
    padding: 10% 0 0 20%;
}

.lista_index li{
    list-style:circle;
    list-style-position: inside;
}

.lista_index a{
    all: unset;
    font-size: large;
    font-weight: 700;
    color: var(--purple1);
    padding: 3px;
}

.lista_index a:hover{
    cursor: pointer;
    background-color: var(--purple0);
    color: yellow;
    border-radius: 5px;
}